<h1>Dashboard</h1>

<style>
.appliances .appliance { display: inline-block; padding: 1em; }
.goodAppliance { background-color: green; }
.badAppliance{ background-color: red; }

</style>
<h2>Appliances</h2>

<div class='appliances'>
<div class='appliance' ng-class="check(app)" ng-repeat="app in appliances">
  <img style='width: 60px;' ng-src="/images/{{app.img}}"/>
</div>
</div>

<h2>Current Availablilty:</h2>
<form class="form">
    <div class="form-group">
        <label for="kwp">KwP</label>
        <input type="number" id="kwp" ng-model="kwp" />
    </div>
    <div class="form-group">
        <label for="hours">Hours</label>
        <input type="number" id="hours" ng-model="hours" />
    </div>
</form>
<table class="table">
    <tr>
        <th>Time</th>
        <th>Sky</th>
        <th>Radiation</th>
        <th>Correction</th>
        <th>Output</th>
    </tr>
    <tr ng-repeat="row in availability">
        <td>{{row.time}}</td>
        <td>{{row.sky}}</td>
        <td>{{row.radiation}}</td>
        <td>{{row.correction | number}}</td>
        <td>{{row.output | number}}</td>
    </tr>
</table>
<p>
    <a ui-sref="cloudgraph">Cloudgraph</a>
</p>
